/* Home Page Styles */
.body-home header {
    background-color: #0b6eb2;

    .uniqa-banner {
        display: block;
        margin: 0 auto;

        width: 100%;
        max-width: 640px;
        height: auto;
    }
}
.homepage {
    h2 {
        text-align: center;
    }
    
    .row {
        display: block;
        position: relative;
        width: 100%;

        clear: both;
        overflow: hidden;
    }

    .col-md-6 {
        width: 49%;
        display: inline-block;
        vertical-align: top;
    }

    .task-wrapper {
        margin-bottom: 30px;

        h4 {
            font-size: 18px;
        }

        p {
            margin: 8px 0;
            padding: 0 5% 0 0;
        }

        .view-page {
            margin-top: 20px;
        }
    }
}