/* Task 1 CSS goes here */

/* Header Styles Bellow*/
header {
    position: relative;
    clear: both;
    overflow: auto;
    margin: 0 auto;
    text-align: center;

    .content-wrapper {
        width: auto;
        position: relative;
        clear: both;
        overflow: auto;
    }
}
.gradient {
    background-image: linear-gradient(
                    black, #333, white, white, black
    );
  }

/* Logo Styling */
.site-logo {
    float: left;
    width: 25%;
    height: 20vw;
    position: relative;

    img {
        display: block;
        width: 100%;
        height: auto;

        position: absolute;
        left: 0;
        bottom: 0;
    }
}

/* Navigation Wrapper */
.site-nav {
    float: left;
    width: 75%;
    height: 20vw;
    position: relative;
}

.row {
    display: block;
    position: relative;

    clear: both;
    overflow: auto;
}

/* Social Media Styles */
.social-links {
    display: inline-block;
    text-align: right;
    width: 100%;
    vertical-align: top;

    .link {
       //float: right;
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

.nav-links {
    width: 100%;
    background-color: #333;

    position: absolute;
    left: 0;
    bottom: 0;
}

/* Site Navigation Styles */
nav {
    overflow: hidden;

    background-color: #333;

    display: inline-block;
    vertical-align: bottom;

    text-align: justify-all;
}
nav a {
    float: left;

    color: white;
    text-align: center;
    padding: 14px 16px;
    padding: 14px 16px;

}

/* Content Wrapper for <main> */
.content-wrapper  after {
    position: relative;
    clear: both;
    overflow: hidden;

    width: 90%;
    margin: 0 auto;

    text-align: center;
}


/* Banner Section */
section.banner {
    margin: 1rem 0;
    }

img{
  width: 1000px;
  height: 200px;
}
button{
  color: white;
  background-color: darkred;
  border-color: transparent;
}
section.news-wrapper {
  clear: both;

  position: relative;
  overflow: hidden;

  article {

    float: left;
    bottom: 0;
    width: 28%;
    background-color: transparent;
    padding: 1%;

    &:first-child {
      margin: 0 2%;

    }
    &:last-child {
      float: right;
      margin: 0 2%
    }
  }
  p{
    border-color: transparent;
    color: #333;
    background-color: transparent;
  }
}
  .footer {
    margin-top: 75px;

    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 2px 8px;

    a {
      color: white;
    }
  }

